// Defaults

// Styles
#header
  background: url("../img/heroBG.jpg") no-repeat
  background-size: cover
  height: 100px

// Nav
.main
  display: flex

  li
    list-style: none
  a
    color: $baby-powder
    display: block
    border-radius: 5px
    padding: 15px 30px
    text-decoration: none
    font-size: 20px
    font-family: 'Ubuntu'
    font-weight: 900
    text-transform: uppercase
  a:hover
    color: $robin-egg-blue

#header-img
    margin-right: 15rem

// Featured
#featured
  padding: 2rem
  margin: 0 auto
  background: $trolley-grey

  h1
    padding: 1rem
    text-align: center
    text-transform: uppercase
    font-size: 25px
    font-family: 'Roboto'
    word-spacing: 0.5rem
    letter-spacing: 1rem
    color: $baby-powder
