// Defaults

// Styles

#header
  width: 100%
  max-width: 1100px
  margin: 0 auto

#nav-bar
  background: $black-olive

.main-nav
  display: flex

  li
    list-style: none
  li:first-child
    margin-right: auto
  a
    color: $white
    display: block
    padding: 12px 30px
    text-decoration: none
    font-size: 20px
    font-weight: 500
    font-family: 'Ubuntu'

.nav-link
  margin-top: 2rem
